         body{
           background-color:rgb(128, 1, 246); 
        }
        .header{          
            background-color: #47BF01;
            display:flex;
            justify-content:space-between;
        }

        h1{
            color:rgb(255, 242, 242);
            background-image:url( "Icons/bg.png");
            font-family: "Algerian";
            margin-left:  30px;
            
        }

        .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
        }
        h2,h4,p{
            color: white;
            text-align: center;
            text-shadow: tomato;
            text-decoration: violet;
            font-size: 30px;
            font-weight: 800;
        
        }
        
        .menu{
            
            margin-right: 30px;
            margin-top: 30px;

        }
        
        .menu a{ 
            margin-left: 30px;

        }

        a:link{
            color: yellow;
        }

        a:visited{
            color: rgb(15, 68, 241);
        }

        .item{
            position: relative;
        }

        .item p{
           text-align: left;
           
        }

        .item img{
            border:solid;
            border-width:thick ;
            border-radius: 30px;
            border-color: black;
            background-color: chartreuse;
        }

        .item:hover p{
            opacity: 1;
            
        }
        

        .item:hover img{
            opacity: 0.5;
            width: 400px;
            height: 400px;
            
        }
         